* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100vw;

    background-color: moccasin;
    font-weight: lighter;
}

.first{
    display: flex;
    background: black;
    color: white;
    margin-left: -9px;
    height: 60px;
    margin-top: -8px;
    /* width: 200vw; */
    /* overflow: hidden; */
    
}
@media (max-width: 480px
){
    .first{
       width: 100%;
    }
    
}

.image{
    background-image: url(download.png);
    background-size: cover;
    width: 79px;
    height: 24px;
    margin-left: 20px;
   
}
@media (max-width:480px){
    .image{
        background-image: url(download.png);
        background-size: cover;

    }
}

.first h1{
    font-size: small;
    margin-left: 20px;
    font-weight: lighter;
    
}
.first h1:hover{
    cursor: pointer;
   
}
.first h2{
    font-size: 15px;
    margin-top: 25px;
    margin-left: -65px;
    font-weight: bolder;
}
.first button{
    margin-left: 30px;
    height: 36px;
    width: 50px;
    margin-top: 10px;
}
.first input{
    margin-left: -1px;
    margin-top: 10px;
    height: 30px;
    width: 490px;
}
#but{
    margin-left: -1px;
    font-size: large;
    background-color: orange;
    margin-top: 9px;
    height: 38px;
}
.first h3{
    background-image: url(img.png);
    background-size: cover;
    margin-top: 28px;
    margin-left: 12px;
    width: 20px;
    height: 10px;
}
.open h4{
    font-size: 14px;
    margin-left: 8px;
    margin-top: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#inside{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:white;
    margin-top: -7px;
    margin-left: -300px;
    position: relative;
    left: 280px;
    color: black;
    width: 200px;
    height: 400px;
    padding: 18px;
    display: none;
    
}
.open:hover{
    #inside{
        display: block;  
    }
    border: 1.5px solid white;
    width: 40px;
    position: relative;
    left: 3px;
    padding: -4px;
    margin: -4px;
    
    /* height: 20px; */
    /* margin-left: 5px; */

}
#inside h5{
    font-size: 12px;
}
#inside h6{
    font-size: 12px;

}

#inside h6:hover{
    cursor: pointer;
    color: orange;
    text-decoration: underline;
}


.hello:hover{
    #outline{
        cursor: pointer;
        display: block;
    }
    
    border: 1.5px solid white;
    width: 120px;
    position: relative;
    left: 7px;  
}
#outline{
    width: 470px;
    background-color: white;
    color: black;
    font-size: smaller;
    margin-left: -400px;
    margin-top: 15px;
    position: relative;
    left: 200px;
    display: none;
}
#outline button{
    width: 200px;
    height: 30px;
    border-radius: 7px;
    margin-left: 132px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    
}
#outline h5{
    text-align: center;
    font-size: small;
}
.wide{
    margin-left: 90px;
}
.wide p{
    font-size: medium;
    font-weight: bold;
    margin-left: -65px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wide h2{
    font-size: small;
    margin-top: -5px;
    font-weight: bold;
}
.wide h2:hover{
    color: orange;
    text-decoration: underline;
}

.wider{
    margin-left: 300px;
    margin-top: -80px;
    height: 300px;
    
}
.wider p{
    font-size: medium;
    font-weight: bold;
    margin-left: -65px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wider h2{
    font-size: small;
    margin-top: -5px;
    font-weight: bold;
}
.wider h2:hover{
    color: orange;
    text-decoration: underline;
}

.second{
    display: flex;
    background: darkslategray;
    color: white;
    margin-left: -9px;
    height: 40px;
    /* width: 200vw; */
    
}
.hamburger h1{
    margin: 9px;
    font-size: 15px;
    margin-left: 20px;

}
.hamburger h1:hover{
    cursor: pointer;
    border: 1.5px solid white;
    
}
.ham{
    background-color: white;
    color: black;
    margin-right: -220px;
    position: relative;
    top: 50px;
    display: none;
    
}
.ham p{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: black;
    color: white;
    height: 20px;
    padding: 10px;
    width: 250px;
    
}

.second p{
    margin: 8px;
    font-size: smaller;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#body{
    background:#e3e6e6;
}

#prev{
    border: none;
    height: 150px;
    width: 50px;
    margin-top: 60px;
    margin-left: 20px;
}

#next{
    border: none;
    font-size: 32px;
    height: 150px;
    width: 50px;
    margin-top: 60px;
    margin-left: 20px;
}

.container-1{
    border: 2px solid black; 
    width: 390px;
    height: 420px;
    background: white;
    margin-top: 20px;
    margin-left: 40px;
}
.mice{
    margin-top: 5px;
    display: flex;
}
.chair{
    margin-top: 20px;
    display: flex;
}

.a{
    margin-top: 50px;
    text-decoration: none;
}

/* .containers{
    display: flex;
} */

#flex{
    display: flex;
}

.container-2{
    border: 2px solid black;
    padding: 4px 4px;
    margin-left: 50px;
    margin-top: 20px;
    background: white;
    width: 390px;
    height: 420px;
}

.a-2{
    margin-top: 50px;
    text-decoration: none;
}

.container-3{
    border: 2px solid black;
    margin-left: 0px;
    background: white;
    width: 390px;
    height: 420px;

}

.a-3{
    margin-top: 50px;
    text-decoration: none;
}

/* h5{
    margin-bottom: 10px;
    margin-left: 20px;
} */





#now{
    display: flex;
    position: relative;
    z-index: 5;
    margin-top: -350px;
}

.contain{
    border: none;
    background: #fff;
    width: 380px;
    height: 500px;
    padding: 20px;
    margin-left: 20px;
}

.contain img{
    margin-top: 10px;
}
.a-4{
    margin-top: 50px;
    text-decoration: none;
}
/* #sign{
    border: 1px solid black;
    background: #fff;
} */
#sign button{
    background-color: #ffd814;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    width: 300px;
    margin-top: 15px;
}

.contain-ads{
    border: none;
    background: #fff;
    width: 340px;
    height: 170px;
    padding: 20px 20px;
    margin-left: 20px;
}
#top, #shoe{
    margin-left: 20px;
}
.contain-ads img{
    margin-top: 55px;
}

#now2{
    display: flex;
    margin-top: 20px;

}

.contain-2{
    border: none;
    background: #fff;
    width: 380px;
    height: 500px;
    padding: 20px;
    margin-left: 20px;

}

.contain-2 img{
    margin-top: 10px;
}

.a-5{
    margin-top: 110px;
}
.jean{
    margin-top: 5px;
    display: flex;
}
.top2{
    margin-top: 20px;
    display: flex;
}
.contain-ads2{
    border: none;
    background: #fff;
    width: 340px;
    height: 500px;
    padding: 20px 20px;
    margin-left: 20px;
}


.contain-3{
    border: none;
    padding: 20px 20px;
    margin-top: 20px;
    margin-left: 20px;
    background: white;
    width: 1540px;
    height: 280px;
}

#now3{
    display: flex;
    overflow-x: scroll;
    position: relative;
    margin-top: -140px;

}

#s{
    margin-top: 40px;
    position: relative;
    z-index: 5;
    border: none;
    height: 100px;
    width: 50px;
    background-color: transparent;
    color: white;
}

#s:hover{
    border: 2px solid black;
    background-color: #fff;
    color: black;

}

#t{
    margin-top: 40px;
    margin-left: 1395px;
    position: relative;
    z-index: 5;
    border: none;
    height: 100px;
    width: 50px;
    color: white;
    background-color: transparent;
}


#t:hover{
    border: 2px solid black;
    background-color: #fff;
    color: black;
}
.book1{
    margin-left: 20px;
}


.contain-4{
    border: none;
    padding: 20px 20px;
    margin-top: 20px;
    margin-left: 20px;
    background: white;
    width: 1540px;
    height: 280px;
}

#now4{
    display: flex;
}


.contain-5{
    border: none;
    padding: 20px 20px;
    margin-top: 20px;
    margin-left: 20px;
    background: white;
    width: 1540px;
    height: 280px;
}
#shopnow {
    width: 100vw;
    background-color:#e3e6e6;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
#shopnow div {
    width:100%;
    height: 450px;
    display: flex;
    flex-direction:column;
    background-color: white;
    margin: 20px;
}

#shopnow div img {
    width: 270px;
    height: 300px;
    margin: auto;
    margin-top: -5px;
}
#shopnow div p {
    font-size: larger;
    margin-left: 28px;
    margin-top: 30px;
}
#shopnow div a {
    margin-left:28px ;
    margin-bottom: 30px;
    font-size: small;
    text-decoration: none;
    color: rgb(115, 178, 178);
}
#shopnow :hover {
    a {
        color: orange;
    }
}